---
Checks:          'clang-diagnostic-*,clang-analyzer-*,boost-*,readability-*,performance-*,modernize-*,misc-*,-readability-else-after-return'
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     file
CheckOptions:
  - key: misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value: true
...

